@import url('https://api.fontshare.com/v2/css?f[]=general-sans@400,500,600,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-general-sans: 'General Sans', sans-serif;
}

body {
  background-color: theme('colors.background');
  color: theme('colors.foreground');
}
